header {
    // display: flex;
    background: url('assets/home-image-1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height:  70vh;
    position: relative;
        h1 {
            font-size: 16.6rem;
            font-weight: 300;
            color: white;
            margin: 0;
            padding-top: 110px;
            z-index: 99;
                span {
                    color:$yellow;
                    display: block;
                    margin-top: -40px;
                }
        }      
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1;
    color: white;
    margin: 5px 20px 5px 100px;
}

nav ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
        li {
            display: inline-block;
            a {
                text-decoration: none;
                padding: 7px 25px;
                color: white;
                text-transform: uppercase;
                transition: color 0.2s linear;

                &:hover {
                    color:$yellow;
                }
            }
        }
}

.headerFlex {
    display: flex;
}

