.headerImage {
    position: absolute;
    right: 60px;
    bottom: 0;
    max-width: 600px;
    transform: scale(1.2);
}

.mainHeader img {
    display: none;
    width: 10%;
    padding: 10px;
    float: right;
}

.planted {
    background: $background;
    h2 {
        font-size: 5.63rem;
        font-size: bold;
        margin: 0;    }
} 

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 125px;
    p {
        text-align: center;
    }
} 

.imageOne  {
    width: 100%;
    position: relative;
    bottom: 35px;
}

.imageOne img {
    box-shadow: 25px 25px 0px -5px $yellow;
    width: 100%;

}

.imageTwo {
    width: 100%;
    position: relative;
    top: 5%;
}

.imageTwo img {
    box-shadow:  -25px 25px 0px -5px  $yellow;
    width: 100%;
}

.workshops, .unique {
    display: flex;
    flex-direction: column;
        p {
            margin-top: 0;
            margin-bottom: 40px;
        }
}

.workshops  {
    text-align: left;
    margin-right: 75px;
}

// .unique {
//     text-align: right;
//     margin-left: 75px;
// }

.testOne {
    width: 80%;
    margin: 50px 0;
    text-align: left;
}

.testTwo {
    width: 100%;
    // margin: 50px 5px 50px 100px;
    text-align: right;
}

.uniqueButton {
    margin-left: auto;
}

.gridContainer1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 150px;
}

.greenHouses {
    background: $background;
    padding: 150px 0 50px 0;
}

.icon {
    background: $yellow;
    font-size: 2.8rem;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 50px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    flex-shrink: 0;
}

.fas fa-leaf, .fas fa-users, .fas fa-file,.fas fa-phone { 
    line-height: inherit;
}

.flexContainer2 {
    display: flex;
}

.greenHouses h3 {
    margin-top: 10px;
}

.item {
    margin-left: 20px;
}

.gridContainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    // grid-gap: 50px 200px;
}

.heroImage {
    background: url('assets/banner-image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height:  60vh;
}

.founder {
    background: $background;
    padding: 100px;
    display: flex;   
    justify-content: space-between;
}

.founderImage {
    flex-shrink: 0;
    margin-right: 100px;
}

.founderImage img {
   box-shadow: 25px 25px 0px -5px $yellow;
}

.gallery {
    margin: 100px 0;
}
.flexContainer3 {
    display: flex;
    justify-content: space-between;
}

.flexItem {
    flex-basis: 30%;
}

