//Media Queries for the main page
@media(max-width: 1262px) {
    .imageOne, .imageTwo {
        position: static;
    }
    
    .testOne {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;    
    }

    .greenHouses {
        margin-top: 70px;
        padding-top: 100px;
    } 

    .flexContainer{
        margin-bottom: 70px;
        padding: 125px 125px;
    }

    .gridContainer1 {
        grid-row-gap: 30px;
    }
}

@media (max-width: 950px) {
    .gridContainer1 {
        grid-template-columns: 1fr;
    }

    .headerImage {
        bottom: -10px;
        transform: scale(1.1);
    }

    .workshops {
        margin-left: 75px;
    }

    .unique {
        margin-right: 75px;
        margin-left: 75px;
    }

    .founder {
        flex-direction: column;
    }

    .founderText {
        margin-top: 50px;
    }

    .flexContainer3 {
        justify-content: space-around;
        .flexItem {
            flex-basis: 350px;
        }
        div:nth-child(3) {
            display: none;
        }
     }
}

@media (max-width: 826px) {
    .gridContainer2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 751px) {
    .headerImage {
        display: none;
    }

    .mainHeader img {
        display: block;
    }

    .mainNav {
        display: none;
    }

    .mainHeader h1 {
        font-size: 11.6rem;
    }

    .flexContainer3 {
        .flexItem {
            flex-basis: 400px;
        }
        div:nth-child(2) {
            display: none;
        }
    }

    .founder {
        padding: 100px 50px;
    }

    .flexContainer {
        margin-bottom: 0;
        padding: 50px;
    }
}

@media (max-width: 578px) {
    .planted h2 {
        font-size: 3.6rem;
    }
    .mainHeader h1 {
        font-size: 9.6rem;
    }

    .heroImage {
        display: none;
    }

    .founder {
        padding-top: 0;
        margin-top: 50px;
        padding-top: 30px;
    }

    .input[type="submit"] {
        margin-left: 100px;
        width: 50%;
    }

    input {
        margin-left: 0;
    }
}

@media (max-width: 466px) {
    .mainHeader h1 span {
        margin-top: 0;
    }
    .mainHeader h1 {
        font-size: 6.6rem;
        padding-top: 80px;
    }
    .mainHeader {
        min-height:  70vh;
    }

    .logo {
        margin-left: 20px; 
    }
    .flexContainer p {
        text-align: left;
    }

    .workshops {
        margin-left: 20px;
    }

    .unique {
        margin-right: 20px;
        margin-left: 20px;
    }
}


@media (max-width: 430px) {
    .flexItem img{
        flex-basis: 250px;
    }
}

// Media Queries for the blog page

@media (max-width: 1320px) {
    input {
        width: 40%;
        margin-left: 20px;
    }

    .aboutPlanted ul {
        padding: 0;
    }
}

@media (max-width: 1154px) {
    input {
        width: 35%;
        margin-left: 35px;
    }
}

@media (max-width: 1000px) {
    .gridContainerBlog {
        grid-template-columns: 1fr;
    }

    .mainContent img {
        display: none;
    }
 
    .blogHeader {
        margin-bottom: 0;
    }  

    .box {
        box-shadow: none;
        padding-top: 232px;
        margin-left: -100px;
    }
}

@media (max-width: 751px) {
    .blog img {
        display: block;
        width: 10%;
        padding: 15px;
    }

    .headerFlex {
        justify-content: space-between;
    }

    .mainNavigator h2 {
        margin-left: 20px;
    }
}

@media (max-width: 650px) {
    .blogHeader {
        min-height: 60vh;
    }

    .mainContent p, .comments p {
        margin-right: auto;
    }

    .comments {
        margin-left: -110px;
    }

    input {
        width: 80%;
    }

    form {
            margin-left: -155px;
    }

    input[type="submit"] {
        width: 70%;
        margin-left: 85px;
    }
}
@media (max-width: 615px) { 
    .flexContainer5 {
    margin-left: -100px;
    }
}

@media (max-width: 500px) {
    .blog img {
        width: 15%;
    }
}

@media (max-width: 450px) {
    aside img {
        display: none;
    }

    .gridContainerBlog {
        margin: 0;
    }

    .box {
        margin-left: 0;
    }

    .comments {
        margin-left: 0;
    }

    .form {
        margin-left: 100px;
    }

    input {
        width: 75%;
    }
}

@media (max-width: 390px) {
    .image {
        display: none;
    }
}

@media (max-width: 340px) {
    input {
        width: 70%;
    }
}

// Media Queries for the contact page
@media (max-width: 1245px) {
    .social {
        padding-left: 0;
    }

    .address {
        padding-left: 50px;
    }
}

@media (max-width: 1180px) {
    .contactHeader h1 {
        font-size: 6rem;
    }
}

@media (max-width: 1070px) {
    .contactHeader {
        min-height: 50vh;
        margin-bottom: 100px;
    }
    
    .contactHeader h1 {
        padding: 10% 0 0 0;
        width: 100%;
        text-align: center;
    }

    .formContainer {
        position: static;
        margin: 0 auto;
        padding: 20px;
        padding-left: 40px;
    }
}

@media (max-width: 1030px) {
    input {
        width: 80%;
        margin-left: 35px;
    }
    .address {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .mainNavigator img {
        display: block;
    }
}

@media (max-width: 665px) {
    .formContainer {
        width: 100%;
    }

    form {
        margin-left: -15px;
    }
}


@media (max-width: 655px) {
    textarea {
        margin-left: 75px;
        width: 75%;
    }

    input {
        width: 60%;
        margin-left: 110px;
        padding-bottom: 15px;
    }

    .contactForm input[type="submit"] {
        margin-left: 75px;
        width: 75%;
    }
}

@media (max-width: 600px) {
    input {
        margin-left: 100px;
    }
}

@media (max-width: 580px) {
    .formContainer {
        padding-left: 35px;
    }
}

@media (max-width: 525px) {
    .contactHeader h1 {
        padding-top: 20%;
        font-size: 5.0rem;
    }

    .formContainer {
        padding-left: 30px;
    }
}

@media (max-width: 500px) {
    .contactHeader {
        margin-bottom: 50px;
    }

    .mainNavigator img {
        width: 15%;
    }

    .social {
        padding-top: 50px;
    }

    .formContainer {
        padding-left: 25px;
    }
}

@media (max-width: 480px) {
    .formContainer {
        width: 100%;
    }
}

@media (max-width: 380px) {
    form {
        margin-left: -65px;
    }
}

@media (max-width: 350px) {
    .address {
        padding-left: 25px;
    }
}