@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visibilityHidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

html {
  font-size: 62.5%; }
  html body {
    font-size: 2.0rem;
    font-family: 'Roboto', sans-serif; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

img {
  max-width: 100%;
  display: block; }

/* SASS Variables */
h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif; }

h3 {
  font-size: 3.2rem;
  font-weight: bold; }

button {
  background: #0e902d;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  line-height: 3.2rem;
  letter-spacing: 1px; }

p {
  line-height: 3.2rem; }

input {
  border: none;
  border-bottom: 2.5px solid #0e902d;
  background: #f0efed;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  line-height: 3.2rem;
  padding-bottom: 35px;
  margin-bottom: 40px;
  width: 44%;
  margin-right: 40px;
  padding-left: 20px; }

textarea {
  width: 95%;
  height: 80%;
  border: 2.5px solid #0e902d;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  line-height: 3.2rem;
  background: #f0efed;
  padding: 30px; }

input[type=submit] {
  background-color: #0e902d;
  font-weight: bold;
  width: 95%;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 40px 0;
  cursor: pointer; }

.mainHeader {
  background: url("assets/home-image-1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative; }
  .mainHeader h1 {
    font-size: 16.6rem;
    font-weight: 400;
    color: white;
    margin: 0;
    padding-top: 150px;
    z-index: 99; }
    .mainHeader h1 span {
      color: #f8e71c;
      display: block;
      margin-top: -40px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1;
  color: white;
  margin: 5px 20px 5px 100px; }

nav ul {
  list-style: none;
  margin: 10px 0;
  padding: 0; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      text-decoration: none;
      padding: 7px 25px;
      color: white;
      text-transform: uppercase;
      -webkit-transition: color 0.2s linear;
      -o-transition: color 0.2s linear;
      transition: color 0.2s linear; }
      nav ul li a:hover {
        color: #f8e71c; }

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px; }

.headerImage {
  position: absolute;
  right: 60px;
  bottom: 0;
  max-width: 600px;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.mainHeader img {
  display: none;
  width: 10%;
  padding: 10px;
  float: right; }

.planted {
  background: #f0efed; }
  .planted h2 {
    font-size: 5.63rem;
    font-size: bold;
    margin: 0; }

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 200px 125px; }
  .flexContainer p {
    text-align: center; }

.imageOne {
  width: 100%;
  position: relative;
  bottom: 35px; }

.imageOne img {
  -webkit-box-shadow: 25px 25px 0px -5px #f8e71c;
  box-shadow: 25px 25px 0px -5px #f8e71c;
  width: 100%; }

.imageTwo {
  width: 100%;
  position: relative;
  top: 5%; }

.imageTwo img {
  -webkit-box-shadow: -25px 25px 0px -5px #f8e71c;
  box-shadow: -25px 25px 0px -5px #f8e71c;
  width: 100%; }

.workshops, .unique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .workshops p, .unique p {
    margin-top: 0;
    margin-bottom: 40px; }

.workshops {
  text-align: left;
  margin-right: 75px; }

.testOne {
  width: 80%;
  margin: 50px 0;
  text-align: left; }

.testTwo {
  width: 100%;
  text-align: right; }

.uniqueButton {
  margin-left: auto; }

.gridContainer1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 150px; }

.greenHouses {
  background: #f0efed;
  padding: 150px 0 50px 0; }

.icon {
  background: #f8e71c;
  font-size: 2.8rem;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.fas fa-leaf, .fas fa-users, .fas fa-file, .fas fa-phone {
  line-height: inherit; }

.flexContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.greenHouses h3 {
  margin-top: 10px; }

.item {
  margin-left: 20px; }

.gridContainer2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 300px 300px;
  grid-template-rows: 300px 300px; }

.heroImage {
  background: url("assets/banner-image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60vh; }

.founder {
  background: #f0efed;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.founderImage {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 100px; }

.founderImage img {
  -webkit-box-shadow: 25px 25px 0px -5px #f8e71c;
  box-shadow: 25px 25px 0px -5px #f8e71c; }

.gallery {
  margin: 100px 0; }

.flexContainer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flexItem {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

footer {
  background: #2c2c2c;
  color: white;
  text-align: center;
  padding: 10px 0; }
  footer p {
    margin: 0; }

.blogHeader {
  background: url("assets/blog-header-1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  margin-bottom: 100px; }
  .blogHeader h1 {
    color: #f8e71c;
    font-weight: bold;
    font-size: 8.0rem;
    line-height: 9.2rem;
    margin: 0;
    padding-top: 25%;
    padding-left: 10%;
    padding-bottom: 10%; }

.mainNavigator {
  background: black;
  padding-bottom: 10px; }

.wrapper1 {
  margin: 0 0 0 100px; }

.mainContent img {
  margin-left: 0;
  margin-bottom: 9px;
  -webkit-box-shadow: -25px 25px 0px -5px #f8e71c;
  box-shadow: -25px 25px 0px -5px #f8e71c; }

.blogBody {
  background: #f0efed; }

.aboutPlanted {
  background: white;
  margin-left: 20px;
  margin-right: 15px;
  padding: 70px 8px 30px 20px;
  -webkit-box-shadow: 15px 0px 0 0px white;
  box-shadow: 15px 0px 0 0px white;
  position: relative; }
  .aboutPlanted p {
    margin-bottom: 60px; }
  .aboutPlanted h3 {
    margin-top: 0; }
  .aboutPlanted span {
    font-style: italic;
    color: #074115;
    font-weight: bold; }
  .aboutPlanted ul {
    list-style: none;
    padding: 20px; }
    .aboutPlanted ul li {
      line-height: 3.2rem; }
    .aboutPlanted ul li::before {
      content: " • ";
      color: #0e902d;
      padding-right: 10px; }

.aboutPlanted em {
  color: #074115; }

aside {
  background: white; }

aside img {
  z-index: 199;
  position: relative;
  right: 71px; }

.gridContainerBlog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 100px; }

.mainContent {
  margin-top: -350px; }
  .mainContent h3 {
    font-size: 4.3rem;
    margin-bottom: 0; }
  .mainContent p:first-of-type {
    color: #074115;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 50px; }

.comments h3 {
  margin: 60px 0;
  margin-left: 45px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container p {
    margin-left: 20px;
    margin-top: 0; }
  .container p:nth-child(2n) {
    margin-bottom: 100px; }

.image {
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.flex1 p:first-child {
  color: #074115;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif; }

.image {
  padding-left: 50px; }

.mainContent p, .comments p {
  margin-right: 130px; }

.box {
  -webkit-box-shadow: -10px 10px 0px 0px #f8e71c;
  box-shadow: -10px 10px 0px 0px #f8e71c;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-top: 7px;
  margin-left: -10px; }

.blog img {
  display: none; }

.contactBody {
  background: #f0efed; }

.contactHeader {
  background: url("assets/contact-header-1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  position: relative; }
  .contactHeader h1 {
    color: #f8e71c;
    font-weight: bold;
    font-size: 8.0rem;
    line-height: 9.2rem;
    margin: 0;
    padding-top: 25%;
    padding-left: 7%;
    padding-bottom: 5%;
    width: 30%; }

.mainNavigator img {
  width: 10%;
  padding: 15px;
  display: none; }

.contactForm input {
  background: white; }

.contactForm textarea {
  background: white;
  height: 300px; }

.contactForm input::-webkit-input-placeholder {
  padding-left: 20px; }

.contactForm input:-ms-input-placeholder {
  padding-left: 20px; }

.contactForm input::-ms-input-placeholder {
  padding-left: 20px; }

.contactForm input::placeholder {
  padding-left: 20px; }

.formContainer {
  padding: 50px;
  background: white;
  width: 65%;
  padding-left: 90px;
  padding-top: 70px;
  position: absolute;
  top: 355px;
  right: 50px;
  -webkit-box-shadow: -25px 25px 0px -5px #f8e71c;
  box-shadow: -25px 25px 0px -5px #f8e71c; }

.contactForm input[type=submit] {
  background-color: #0e902d;
  font-weight: bold;
  width: 95%;
  max-height: 200px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 40px 0;
  cursor: pointer; }

.social {
  padding-left: 45px;
  padding-top: 100px; }

.social ul li {
  list-style: none;
  float: left; }

.social ul li a {
  padding: 0 15px;
  color: #0e902d;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear; }

.social ul li a:hover {
  color: #074115; }

.address {
  width: 30%;
  padding: 0px 50px 150px 100px; }
  .address p {
    margin: 0; }

@media (max-width: 1262px) {
  .imageOne, .imageTwo {
    position: static; }
  .testOne {
    width: 100%;
    text-align: left;
    margin-bottom: 10px; }
  .greenHouses {
    margin-top: 70px;
    padding-top: 100px; }
  .flexContainer {
    margin-bottom: 70px;
    padding: 125px 125px; }
  .gridContainer1 {
    grid-row-gap: 30px; } }

@media (max-width: 950px) {
  .gridContainer1 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .headerImage {
    bottom: -10px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .workshops {
    margin-left: 75px; }
  .unique {
    margin-right: 75px;
    margin-left: 75px; }
  .founder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .founderText {
    margin-top: 50px; }
  .flexContainer3 {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .flexContainer3 .flexItem {
      -ms-flex-preferred-size: 350px;
      flex-basis: 350px; }
    .flexContainer3 div:nth-child(3) {
      display: none; } }

@media (max-width: 826px) {
  .gridContainer2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
    grid-template-rows: repeat(4, 1fr); } }

@media (max-width: 751px) {
  .headerImage {
    display: none; }
  .mainHeader img {
    display: block; }
  .mainNav {
    display: none; }
  .mainHeader h1 {
    font-size: 11.6rem; }
  .flexContainer3 .flexItem {
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px; }
  .flexContainer3 div:nth-child(2) {
    display: none; }
  .founder {
    padding: 100px 50px; }
  .flexContainer {
    margin-bottom: 0;
    padding: 50px; } }

@media (max-width: 578px) {
  .planted h2 {
    font-size: 3.6rem; }
  .mainHeader h1 {
    font-size: 9.6rem; }
  .heroImage {
    display: none; }
  .founder {
    padding-top: 0;
    margin-top: 50px;
    padding-top: 30px; }
  .input[type="submit"] {
    margin-left: 100px;
    width: 50%; }
  input {
    margin-left: 0; } }

@media (max-width: 466px) {
  .mainHeader h1 span {
    margin-top: 0; }
  .mainHeader h1 {
    font-size: 6.6rem;
    padding-top: 80px; }
  .mainHeader {
    min-height: 70vh; }
  .logo {
    margin-left: 20px; }
  .flexContainer p {
    text-align: left; }
  .workshops {
    margin-left: 20px; }
  .unique {
    margin-right: 20px;
    margin-left: 20px; } }

@media (max-width: 430px) {
  .flexItem img {
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px; } }

@media (max-width: 1320px) {
  input {
    width: 40%;
    margin-left: 20px; }
  .aboutPlanted ul {
    padding: 0; } }

@media (max-width: 1154px) {
  input {
    width: 35%;
    margin-left: 35px; } }

@media (max-width: 1000px) {
  .gridContainerBlog {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .mainContent img {
    display: none; }
  .blogHeader {
    margin-bottom: 0; }
  .box {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 232px;
    margin-left: -100px; } }

@media (max-width: 751px) {
  .blog img {
    display: block;
    width: 10%;
    padding: 15px; }
  .headerFlex {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .mainNavigator h2 {
    margin-left: 20px; } }

@media (max-width: 650px) {
  .blogHeader {
    min-height: 60vh; }
  .mainContent p, .comments p {
    margin-right: auto; }
  .comments {
    margin-left: -110px; }
  input {
    width: 80%; }
  form {
    margin-left: -155px; }
  input[type="submit"] {
    width: 70%;
    margin-left: 85px; } }

@media (max-width: 500px) {
  .blog img {
    width: 15%; } }

@media (max-width: 450px) {
  aside img {
    display: none; }
  .gridContainerBlog {
    margin: 0; }
  .box {
    margin-left: 0; }
  .comments {
    margin-left: 0; }
  .form {
    margin-left: 100px; }
  input {
    width: 75%; } }

@media (max-width: 390px) {
  .image {
    display: none; } }

@media (max-width: 340px) {
  input {
    width: 70%; } }

@media (max-width: 1245px) {
  .social {
    padding-left: 0; }
  .address {
    padding-left: 50px; } }

@media (max-width: 1180px) {
  .contactHeader h1 {
    font-size: 6rem; } }

@media (max-width: 1070px) {
  .contactHeader {
    min-height: 50vh;
    margin-bottom: 100px; }
  .contactHeader h1 {
    padding: 10% 0 0 0;
    width: 100%;
    text-align: center; }
  .formContainer {
    position: static;
    margin: 0 auto;
    padding: 20px;
    padding-left: 40px; } }

@media (max-width: 1030px) {
  input {
    width: 80%;
    margin-left: 35px; }
  .address {
    width: 100%; } }

@media (max-width: 750px) {
  .mainNavigator img {
    display: block; } }

@media (max-width: 665px) {
  .formContainer {
    width: 100%; }
  form {
    margin-left: -15px; } }

@media (max-width: 655px) {
  textarea {
    margin-left: 75px;
    width: 75%; }
  input {
    width: 60%;
    margin-left: 110px;
    padding-bottom: 15px; }
  .contactForm input[type="submit"] {
    margin-left: 75px;
    width: 75%; } }

@media (max-width: 600px) {
  input {
    margin-left: 100px; } }

@media (max-width: 580px) {
  .formContainer {
    padding-left: 35px; } }

@media (max-width: 525px) {
  .contactHeader h1 {
    padding-top: 20%;
    font-size: 5.0rem; }
  .formContainer {
    padding-left: 30px; } }

@media (max-width: 500px) {
  .contactHeader {
    margin-bottom: 50px; }
  .mainNavigator img {
    width: 15%; }
  .social {
    padding-top: 50px; }
  .formContainer {
    padding-left: 25px; } }

@media (max-width: 480px) {
  .formContainer {
    width: 100%; } }

@media (max-width: 380px) {
  form {
    margin-left: -65px; } }

@media (max-width: 350px) {
  .address {
    padding-left: 25px; } }
